<button nz-button nzType="primary" (click)="showModal()">Adaugă utilizator</button>

<nz-table [nzData]="displayData" [nzFrontPagination]="false" [nzPageSize]="pageSize" [nzShowPagination]="false">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Email</th>
            <th>Vârstă</th>
            <th>Rol</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of displayData; let i=index">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }} ({{ user.age | ageCategory }})</td>
            <td>{{ user.role }}</td>
            <td>
                <button nz-button nzType="link" (click)="showModal(i)">
                    <i nz-icon nzType="edit"></i> Editează
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize" [nzShowQuickJumper]="true"
    (nzPageIndexChange)="onPageChange($event)">
</nz-pagination>
<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Utilizator" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <form *ngIf="isModalVisible" [formGroup]="form" nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" for="name">Nume</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input id="name" formControlName="name" autofocus />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6" for="email">Email</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input id="email" formControlName="email" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6" for="age">Vârstă</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input type="number" id="age" formControlName="age" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6" for="role">Rol</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input id="role" formControlName="role" />
            </nz-form-control>
        </nz-form-item>
    </form>


    <ng-template #modalFooter>
        <button nz-button (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" [disabled]="form.invalid" (click)="handleOk()">OK</button>
    </ng-template>
</nz-modal>